@tailwind base;
@tailwind components;
@tailwind utilities;

.center-v-h {
  @apply w-96 h-96 absolute left-0 right-0 top-0 bottom-0 m-auto max-w-full max-h-full
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
